$baseColor=#00bbcc
$darkTextColor=#333

$headerH=.86rem
headerStyl()
  position relative
  overflow hidden
  height $headerH
  line-height $headerH
  text-align center
  color #fff
  background $baseColor
  font-size .3rem
  font-weight bold